

.container{
    width: 340px;
    height: 167px;
    background-color: rgba(19, 17, 17, 0.5);

    display: flex;

    box-sizing: border-box;
    color: white;

    gap: 1rem;
    padding: 0.2rem;

    border-radius: 1rem;


}

.img{
    height: 133px;
    width: 133px;

    align-self: center;

    
    
}

.img img{
    height: 133px;
    width: 133px;

    border: 50%;
    

    border-radius: 50%;
}

.item{
    position: relative;


}

.item h1{
    font-size: 1.5rem;
    font-weight: 800;

    margin-top: 1rem;
  
}

.item p{
    font-size: 12px;
    font-weight: 400px;
    line-height: 14px;
    margin-top: 0.5rem;
}

.paragraph{
   
    background-color: red;
    padding: 0.3rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    
    border-radius: 0.5rem;
    font-size: 2rem;

}